<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Dia 1 Unix</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>El shell de Unix</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>break </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td>el shell de UNIX continuación</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00</td>        <!-- time    -->
        <td>receso para comer</td>        <!-- content -->
      </tr>

    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Dia 2. Python. Primera parte</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td>Programando con Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td>Programando con Python</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>2:00</td>        <!-- time    -->
        <td>receso para comer</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1. Control de versiones con git</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>15:00</td>        <!-- time    -->
        <td>control de versiones con gi</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>16:45</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>17:15</td>        <!-- time    -->
        <td>control de Versiones con git</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>18:30</td>        <!-- time    -->
        <td>fin</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2. Python segundda parte</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>15:00</td>        <!-- time    -->
        <td>Programando con Python</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 2   -->
        <td>16:45</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>17:15</td>        <!-- time    -->
        <td>Programando con Python</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>18:30</td>        <!-- time    -->
        <td>fin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Fin</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
