<p>
 El laboratorio Nacional de Apoyo tecnologico a las ciencias Genomicas ( <a href="http://lnatcg.unam.mx/">LNATCG</a>), tiene como una de sus directrices la capacitación en areas de Bioinformatica y 
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a los investigadores a realizar su trabajo en menos tiempo y con menos esfuerzo enseñándoles habilidades informáticas básicas de investigación. Este taller práctico cubrirá conceptos y herramientas básicos, incluido el diseño de programas, control de versiones, gestión de datos y automatización de tareas, que son tareas escenciales en la iniciación a la bioinformatica. Se alentará a los participantes a que se ayuden unos a otros y apliquen lo que hayan aprendido a sus propios problemas de investigación.
</p>
<p align="center">
  <em>
    Para obtener más información sobre lo que enseñamos y por qué, consulte nuestro artículo:
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>". ("Mejores prácticas para la informática científica")
  </em>
</p>
