<div class="row">
  <div class="col-md-6">
    <h3>Dia 1. UNIX</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>1. Introducing the Shell</td> </tr>
      <tr> <td>09:05</td>  <td>2. Navigating Files and Directories </tr>
      <tr> <td>09:45</td>  <td>3. Working With Files and Directories </tr>
      <tr> <td>10:35</td>  <td>4. Pipes and Filters </tr>
      <tr> <td>11:05</td>  <td>Morning break</td> </tr>
      <tr> <td>11:35</td>  <td>5. Loops</td> </tr>
      <tr> <td>12:35</td>  <td>6. Shell Scripts</td> </tr>
      <tr> <td>13:00</td>  <td>7. Finding Things</td> </tr>
      <tr> <td>14:00</td>  <td>FIN</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 2. Git y github</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>16:45</td>  <td>Morning break</td> </tr>
      <tr> <td>17:15</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>18:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
